@media screen and (min-width: 767px) { /*ウィンドウ幅が767px以上の場合に適用*/
  html{
    max-width: 100%
    font-size: 100%;
    background-color: #FFEEFF;
  }
  img{
    max-width: 100%;
  }
  li{
    list-style: none;
  }
  a{
    text-decoration: none;
    color: black;
  }
  h1{
    padding: 30px;
    text-align: center;
    font-size: 23px;
  }
  body{
    max-width: 80%;
    margin: 0 auto;

  }
  /* header */
  header{
    background-color: white;
    margin: 0 auto;
    display: flex;
  }

  .hp-icon{
    margin: 13px 8%;
    color: #FFBBFF;
    padding: 2.5px;
    border: 1px solid #FFBBFF;
  }
  header ul{
    display: flex;
    margin: 15px 15%;
  }
  header li{
    white-space: nowrap;
    margin-left: 5%;
  }
  .mark{
    padding: 5px;
    background-color: #FFEEFF;
    border: 1px solid #FFBBFF;
  }
  .registration{
    padding: 2.5px;
    border: 1px solid black;
  }
  .insta-icon img{
    width: 20px;
    height: 20px;
  }
  /*main*/
  .top-contents{
    display: flex;
    background-color: white;
  }
  .top-comment{
    width: 35%;
    text-align: center;
  }
  .comment-1{
    margin-top: 80px;
    font-size: 30px;
    color: #FF55FF;
  }
  .comment-2{
    margin-top: 75px;

  }
  .box{
    position: relative;
    width: 100%;
  }
  .box img{
    width: 100%;
    height:auto;
  }
  .box p{
    position: absolute;
    top: 30px;
    right: 40px;
    font-size: 40px;
    color: white;
  }
  /* 2 */
  .contents-2{
    background-color: white;
  }
  .contents-2 h1{
    font-size: 25px;
    text-align: left;
    color: #555555;
  }
  .contents-2 p{
    padding-left: 30px;
  }
  /* works */
  .works-contents{
    display: flex;
    margin-top: 30px;
    background-color: white;
  }
  /* today */
  .today-contents{
    max-width: 50%;
    margin: 0 7.5%;
  }
  .today-contents h1{
    text-align: left;
    border-bottom: solid 1px #dedede;
  }
  .today-1{
    display: flex;
  }
  .today-1 img{
    width: 250px;
    height: 200px;
    padding: 5px 5px;
  }

  /* news */
  .news{
    margin-top: 50px;
  }
  .news-table{
    display: flex;
    padding: 2px;
    border-top: solid 1px #dedede;
  }
  .news-table p{
    padding-left: 45px;
  }

  /* contact */
  .contact{
    padding-bottom: 70px;
  }
  .contact{
    flex-wrap: wrap;
    margin-bottom: 20px;
    /*flex-direction: column;*/
  }
  .contact-contents{
    text-align: center;
  }
  .contact input{
    width: 80%;
    padding: 10px;
    margin: 3.5px;
  }
  .contact textarea{
    width: 80%;
    height: 70px;
  }
  footer{
    background-color: black;
    padding: 15px;
    font-size: 15px;
    color: white;
    text-align: center;
  }
}

@media screen and (max-width: 767px) { /*ウィンドウ幅が767px以上の場合に適用*/
  html {
    max-width: 100%
    font-size: 100%;
    background-color: white; /*青色*/
  }
  li{
    list-style: none;
  }
  a{
    text-decoration: none;
    color: black;
  }
  
  /* header */
  header{
    padding-bottom: 50px;
    border-bottom: solid 1px #dedede;
  }
  .btn-gNav span{
  	position: absolute;
  	width: 100%;
  	height: 4px;
  	background: #666;
  	border-radius: 10px;
  	-webkit-transition: all 400ms;
  	transition: all 400ms;
  }
  .btn-gNav span:nth-child(1) {
  	top:0;
  }
  .btn-gNav span:nth-child(2) {
  	top:10px;
  }
  .btn-gNav span:nth-child(3) {
  	top:20px;
  }
  .btn-gNav{
  	position: fixed;
  	top: 20px;
  	right: 20px;
  	width: 30px;
  	height: 24px;
  	z-index: 3;
  }
  #gNav{
    opacity: 0.8;
  	position: fixed;
  	top: 0;
  	right: -100%;
  	width: 35%;
  	height: 100%;
  	z-index: 2;
    background-color: #FFEEFF;
  }
  #gNav.open{
  	right: 0px;
  }
  #gNav .gNav-menu{
    margin-top: 80px;
  	width: 100%;
  	height:100%;
  	display: flex;
  	flex-direction: column;
  	text-align: left;
  }
  .box img{
    width: 90%;
    height: auto;
  }
  footer{
    background-color: black;
    padding: 15px;
    font-size: 15px;
    color: white;
    text-align: center;
  }
}
